body {
    background-color: #ccecff;
}

p.titulo {
    color:#ee538f;
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    text-shadow: 2px 2px 5px #0ec2b9;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color:#580ad4;
    text-decoration-thickness: 4px;
}

p.texto1 {
    color:#427c00;
    font-family: fantasy;
    text-decoration-line: underline;
    text-decoration-color: #0096c4;
    text-shadow: 0 0 3px #2bff01;
}

p.texto2 {
    color:#0717a3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-line: overline;
    text-decoration-style: dashed;
    text-shadow: 2px 2px 5px #18fdf2;
}

p.texto3 {
    color:#c2086e;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: #7827d4;
    font-size: 18px;
}

p.texto4 {
    color:#cf5300;
    font-family: Geneva, Verdana, sans-serif;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: #d64f00;
    text-decoration-thickness: 3px;
    text-shadow: 2px 2px 5px #ee467e;
}

p.texto5 {
    color:#e00926;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-shadow: 2px 2px 5px #5603b4;
    font-size: 18px;
}

p.texto6 {
    color:#1dd6d6;
    font-family:'Times New Roman', Times, serif;
    text-decoration-line: overline;
    text-decoration-style: dashed;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 20px;
}

p.texto7 {
    color:#df1414;
    text-shadow: 2px 2px 5px #3a6bd4;
    font-size: 17px;
}

p.texto8 {
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color:#f5017b;
    text-decoration-thickness: 2px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

p.texto9 {
    color:#5f0226;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color:#0c9c84;
    text-shadow: 2px 2px 5px #ee5050;
}

p.texto10 {
    color:#5c0e7a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color:#0011ff;
    text-shadow:2px 2px 5px #bd98ec;
    text-decoration-thickness: 3px;
    font-size: 18px;
}

img {
    border-radius: 8px;
    width: 400px;
    height: 300px;
}
div {
    text-align: center;
}